/*** FONTS ***/

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

/*** TAGS ***/

body {
    margin: 0;
    padding: 0;
    line-height: 1.75;
}

button {
    margin: 10px auto;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 40px;
    background-color: #75d8ff;
    border: 1px solid #75d8ff;
    color: black;
    transition: all 0.3s;
}

button:active {
    color: white;
    transition: all 0.3s;
}

button:hover {
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4, p, b, i, input, textarea, select, label {
    font-size: 16px;
}

header {
    padding: 1rem 1rem 0 1rem;
    text-align: center;
}

iframe {
    margin: 20px 0px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

label {
    font-weight: bold;
}

li {
    padding: 5px;
}

main {
    padding: 0 2rem 2rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
}

section {
    max-width: 700px;
    margin: 0 auto;
}

section div {
    background: none !important;
    display: flex;
    flex-direction: column;
}

select {
    margin: 10px 0;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 10px;
    resize: vertical;
}

body, h1, h2, h3, h4, p, a, button, input, select, textarea, b, i {
    font-family: 'Poppins', BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, button, p.center {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    color: black;
    background-color: white;
}

input, select, textarea {
    box-shadow: 0 2px 14px rgba(0,0,0,0.2);
}

label, input {
    margin: 5px 0px;
}

ul, ol {
    margin: 0;
}

/*** CLASSES ***/

body.musicStore {
    background-image: url("assets/img/bkgds/musicStore.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.musicStore div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.gym {
    background-image: url("assets/img/bkgds/gym.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.gym div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.restaurant {
    background-image: url("assets/img/bkgds/restaurant.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.restaurant div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.home {
    background-image: url("assets/img/bkgds/home.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.home div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.townHall {
    background-image: url("assets/img/bkgds/townHall.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.townHall div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.postOffice {
    background-image: url("assets/img/bkgds/postOffice.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.postOffice div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.hardwareStore {
    background-image: url("assets/img/bkgds/hardwareStore.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.hardwareStore div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.school {
    background-image: url("assets/img/bkgds/school.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.school div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.library {
    background-image: url("assets/img/bkgds/library.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.library div {
    background-color: rgba(255, 255, 255, 0.8);
}

button.copy-btn {
    width: 150px;
}

button.inline {
    box-shadow: none;
    cursor: default;
}

div.btns button {
    width: 175px;
}

img.inline {
    height: 30px;
    object-fit: contain;
}

section.feedback iframe {
    width: 100%;
    height: 1410px;
    box-shadow: none;
}

section.flashcards iframe {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 10px;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e74c3c;
    color: white;
    border: none;
}

.delete-btn:active {
    color: black;
    transition: all 0.3s;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
    margin: 0px 5px !important;
    vertical-align: middle;
}

.journal-entry {
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    position: relative;
}

.journal-entry small {
    color: #666666;
}

.leaflet-container {
    background-color: #7ed957 !important;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup button {

    width: 90px;
    background-color: #75d8ff;
    border: 1px solid #75d8ff;
}

/*** IDS ***/

#final-letter {
    padding: 20px;
    white-space: pre-line; /* For plain text, respects \n for line breaks, collapses other whitespace */
}

#generated-letter {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
}

#letter-display {
    margin: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
}

#letter-form {
    display: grid;
    margin: 20px 0;
}

#map {
    height: 100vh;
    width: 100vw;
}

#map-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#map-nav img {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    transition: all 0.3s;
}

#map-nav img:hover {
    opacity: 1;
    transition: all 0.3s;
}

/*** DATA ATTRIBUTES ***/

[data-type="builder"] {
    background-color: rgb(255, 239, 59);
    border-color: rgb(255, 239, 59);
}

/*** MEDIA QUERIES ***/

@media print {
    body {
        background: white !important;
        color: black !important;
    }
    #final-letter {
        white-space: pre-line !important;
    }
    #map-nav, div.letter-guides, #letter-form, .no-print {
        display: none !important;
    }
}