/*** TAGS ***/

body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0 auto;
    width: 90px;
    color: black;
    font-size: 14px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

iframe {
    margin: 20px 0px;
}

p {
    font-size: 16px;
}

header {
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
}

body, h1, h2, h3, p, a, button {
    font-family: BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, button {
    text-align: center;
}

/*** CLASSES ***/

body.musicStore {
    background-image: url("assets/img/bkgds/musicStore.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.musicStore div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.gym {
    background-image: url("assets/img/bkgds/gym.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.gym div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.restaurant {
    background-image: url("assets/img/bkgds/restaurant.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.restaurant div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.home {
    background-image: url("assets/img/bkgds/home.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.home div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.townHall {
    background-image: url("assets/img/bkgds/townHall.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.townHall div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.postOffice {
    background-image: url("assets/img/bkgds/postOffice.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.postOffice div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.hardwareStore {
    background-image: url("assets/img/bkgds/hardwareStore.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.hardwareStore div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.school {
    background-image: url("assets/img/bkgds/school.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.school div {
    background-color: rgba(255, 255, 255, 0.8);
}

body.library {
    background-image: url("assets/img/bkgds/library.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body.library div {
    background-color: rgba(255, 255, 255, 0.8);
}

section.playlists {
    max-width: 600px;
    margin: auto;
}

.leaflet-container {
    background-color: #7ed957 !important;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup button {
    padding: 5px;
    border-radius: 40px;
    background-color: #75d8ff;
    border: 1px solid #75d8ff;
}

/*** IDS ***/

#map {
    height: 100vh;
    width: 100vw;
}

#map-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#map-nav img {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    transition: all 0.3s;
}

#map-nav img:hover {
    opacity: 1;
    transition: all 0.3s;
}